        <ul>
            <% @topics.each do |topic| %>
            <li>
                <a href="./topic/<%== topic.id %>"><%== topic.title %></a>
            </li>
            <% end %>
        </ul>

        <form action="/topic_create" method="post">
            タイトル：<input type="text" name="title"><br>
            内容：<textarea type="text" name="body"></textarea><br>
            <input type="submit" value="投稿">
        </form>
