        <div class="topic">
            <div class="body">
                <h3><%== @topic.body %></h3>
            </div>
        </div>
        <ul>
            <% @comments.each do |comment| %>
            <li>
                <%== comment.body %>
            </li>
            <% end %>
        </ul>

        <form method="post" action="/comment_create">
            <input type="hidden" name="topic_id" value="<%== @topic.id %>">
            <textarea type="text" name="body"></textarea>
            <input type="submit" value="投稿">
        </form>
